<form class="example-form">
  <mat-form-field class="example-full-width" >
    <input type="text" placeholder="Partenza" aria-label="Number" matInput [formControl]="partenza" [matAutocomplete]="autocompletePartenza">
    <mat-autocomplete #autocompletePartenza="matAutocomplete">
      <mat-option *ngFor="let item of searchResultPartenza" [value]="item.name">
        {{ item.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Arrivo" aria-label="Number" matInput [formControl]="arrivo" [matAutocomplete]="autocompleteArrivo">
    <mat-autocomplete #autocompleteArrivo="matAutocomplete">
      <mat-option *ngFor="let item of searchResultArrivo" [value]="item.name">
        {{ item.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="Data" [formControl]="data" >
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker ></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Ora"  name="oraPartenza" [(ngModel)]="oraPartenza">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="posti" placeholder="Posti">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
    </mat-select>
  </mat-form-field>
    <button mat-button (click)="findTravels()">Cerca</button>
</form>

<h2>My Travels</h2>

<h3 *ngIf="blablacarTravel">BlaBlaCar</h3>
<mat-table *ngIf="blablacarTravel" #table [dataSource]="dataSourceBlablacar" >

  <ng-container matColumnDef="Partenza">
    <mat-header-cell *matHeaderCellDef> Partenza </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.departure_place.address}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Arrivo">
    <mat-header-cell *matHeaderCellDef> Arrivo </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.arrival_place.city_name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="DataPartenza">
    <mat-header-cell *matHeaderCellDef> Data Partenza </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.departure_date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Prezzo">
    <mat-header-cell *matHeaderCellDef> Prezzo </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.price_with_commission.string_value}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Detail">
    <mat-header-cell *matHeaderCellDef> Dettagli </mat-header-cell>
    <mat-cell *matCellDef="let element"><input type="button" value="open Detail" (click)="openDetail(element.links._front)"></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<h3 *ngIf="trenitaliaTravel">Trenitalia</h3>
<mat-table #table *ngIf="trenitaliaTravel" [dataSource]="dataSourceTrenitalia">

  <ng-container matColumnDef="Partenza">
    <mat-header-cell *matHeaderCellDef> Partenza </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.origin}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Arrivo">
    <mat-header-cell *matHeaderCellDef> Arrivo </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="DataPartenza">
    <mat-header-cell *matHeaderCellDef> Data Partenza </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.departuretime| date:'HH:ss dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Prezzo">
    <mat-header-cell *matHeaderCellDef> Prezzo </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.minprice}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Detail">
    <mat-header-cell *matHeaderCellDef> Dettagli </mat-header-cell>
    <mat-cell *matCellDef="let element"><input type="button" value="open Detail" (click)="openDetailTrenitalia(element.idsolution)"> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>


