.main-form {
  min-width: 150px;
  width: 100%;

}

.example-full-width, .divbuttoncerca {
  width: 100%;
}

.centred {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.btn {
  width: 100%;
  background: #c2c2c2;
  background-image: -webkit-linear-gradient(top, #c2c2c2, #b8b8b8);
  background-image: -moz-linear-gradient(top, #c2c2c2, #b8b8b8);
  background-image: -ms-linear-gradient(top, #c2c2c2, #b8b8b8);
  background-image: -o-linear-gradient(top, #c2c2c2, #b8b8b8);
  background-image: linear-gradient(to bottom, #c2c2c2, #b8b8b8);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  text-shadow: 1px 1px 0px #1f141f;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ededed;
  background-image: -webkit-linear-gradient(top, #ededed, #e3dfe3);
  background-image: -moz-linear-gradient(top, #ededed, #e3dfe3);
  background-image: -ms-linear-gradient(top, #ededed, #e3dfe3);
  background-image: -o-linear-gradient(top, #ededed, #e3dfe3);
  background-image: linear-gradient(to bottom, #ededed, #e3dfe3);
  text-decoration: none;
}
