<form class="example-form">
  <mat-form-field class="example-full-width" >
    <input type="text" placeholder="Partenza" aria-label="Number" matInput [formControl]="partenza" [matAutocomplete]="autocompletePartenza">
    <mat-autocomplete #autocompletePartenza="matAutocomplete">
      <mat-option *ngFor="let item of searchResultPartenza" [value]="item.name">
        {{ item.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Arrivo" aria-label="Number" matInput [formControl]="arrivo" [matAutocomplete]="autocompleteArrivo">
    <mat-autocomplete #autocompleteArrivo="matAutocomplete">
      <mat-option *ngFor="let item of searchResultArrivo" [value]="item.name">
        {{ item.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="Data" [formControl]="data" >
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker ></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Ora" [ngModel]="oraPartenza" name="oraPartenza">
  </mat-form-field>
  <button mat-button (click)="findTravels()">Cerca</button>
</form>

<h2>My Travels</h2>

<ul *ngIf="blablacarTravel">
  <h3>BlaBlaCar</h3>
  <li *ngFor="let viaggio of blablacarTravel.trips" >
    <span>Partenza: {{viaggio.departure_place.address}}, {{viaggio.departure_place.city_name}}</span>
    <span>Arrivo: {{viaggio.arrival_place.address}}, {{viaggio.arrival_place.city_name}}</span>
    <span>Data partenza: {{viaggio.departure_date}}</span>
    <span>Prezzo: {{viaggio.price_with_commission.string_value}}</span>
    <span><input type="button" value="open Detail" (click)="openDetail(viaggio.links._front)"></span>
  </li>
</ul>

<ul *ngIf="trenitaliaTravel">
  <h3>Trenitalia</h3>
  <li *ngFor="let viaggio of trenitaliaTravel" >
    <span>Partenza: {{viaggio.origin}}</span>
    <span>Arrivo: {{viaggio.destination}}</span>
    <span>Data partenza: {{viaggio.departuretime| date:'HH:ss dd/MM/yyyy'}}</span>
    <span>Durata: {{viaggio.duration}}</span>
    <span *ngIf="viaggio.minprice>0"> Prezzo: {{viaggio.minprice}}</span>
    <span *ngIf="viaggio.minprice==0"> Non disponibile</span>
    <span><input type="button" value="open Detail" (click)="openDetailTrenitalia(viaggio.idsolution)"></span>
  </li>
</ul>

